* {
  box-sizing: border-box;
}
a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: #fff;
}
h1,h2,h3,h4,h5,h6 {
  margin: 10px 0;
}
.App {
  width: 100%;
  padding: 0 15px;
}
.logo {
  position: relative;
  padding-left: 32px !important;
  margin-right: 30px !important;
}
.logo img {
  display: inline-block;
  height: 32px;
  width: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.appHeader {
  background-color: #000044;
  border-bottom: 2px solid #ccc;
  padding: 15px 0;
  text-align: center;
  margin: 0 -15px;
}
.appHeader nav a {
  padding: 5px;
  margin: 0 5px;
}
.appBody {
  display: flex;
  margin: 0 -15px;
}
.appBody > div {
  padding: 10px;
}
.sideBar {
  flex-basis: 20%;
  min-width: 200px;
  border-left: 2px solid #ccc;
  background-color: #eee;
}
.sideBar ul {
  list-style: none;
  padding: 5px 0 0 8px;
  margin: 0;
}
.sideBar ul li {
  padding: 10px 0;
}
.sideBar a {
  color: #000;
}
.sideBar a:hover {
  opacity: 0.8;
}
.mainBlock {
  background-color: #fff;
  line-height: 1.5;
  flex-basis: 80%;
  padding-left: 15px !important;
}
.mainBlock p {
  margin: 0 0 20px;
}
.appFooter {
  background-color: #222244;
  border-top: 2px solid #ccc;
  margin: 0 -15px;
  padding: 10px 0;
  text-align: center;
}
.appFooter a {
  padding: 5px;
}