.cardsBlock {
  display: flex;
  text-align: center;
}
.card {
  width: 220px;
  height: auto;
  margin: 5px;
  border: 1px solid #ddd;
  box-shadow: -2px 2px 5px 0 rgba(100, 100, 100, 0.2);
  text-decoration: none;
  color: #000;
  background-color: #efefef;
  vertical-align: top;
  display: flex;
  flex-direction: column;
}
.card img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.card p {
  padding: 8px 5px;
  margin: 0;
  font-size: 14px;
  flex-grow: 1;
  display: flex;
}
.card p span {
    margin: auto;
}